<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aotuspace.web.spgoods.mapper.task.SpAotuerpTreasureTaskMapper" >
  <resultMap id="BaseResultMap" type="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTask" >
    <id column="sp_id" property="spId" jdbcType="INTEGER" />
    <result column="sp_TreasureId" property="spTreasureid" jdbcType="INTEGER" />
    <result column="sp_TaskUploadTime" property="spTaskuploadtime" jdbcType="TIMESTAMP" />
    <result column="sp_TaskUnloadTime" property="spTaskunloadtime" jdbcType="TIMESTAMP" />
    <result column="sp_AnId" property="spAnid" jdbcType="INTEGER" />
    <result column="sp_TaskAging" property="spTaskaging" jdbcType="INTEGER" />
    <result column="sp_StatusId" property="spStatusid" jdbcType="INTEGER" />
    <result column="sp_TaskRemark" property="spTaskremark" jdbcType="VARCHAR" />
    <result column="sp_TaskModeId" property="spTaskmodeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sp_id, sp_TreasureId, sp_TaskUploadTime, sp_TaskUnloadTime, sp_AnId, sp_TaskAging, 
    sp_StatusId, sp_TaskRemark, sp_TaskModeId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_aotuerp_treasure_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sp_aotuerp_treasure_task
    where sp_id = #{spId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_aotuerp_treasure_task
    where sp_id = #{spId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTaskExample" >
    delete from sp_aotuerp_treasure_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTask" >
    insert into sp_aotuerp_treasure_task (sp_id, sp_TreasureId, sp_TaskUploadTime, 
      sp_TaskUnloadTime, sp_AnId, sp_TaskAging, 
      sp_StatusId, sp_TaskRemark, sp_TaskModeId
      )
    values (#{spId,jdbcType=INTEGER}, #{spTreasureid,jdbcType=INTEGER}, #{spTaskuploadtime,jdbcType=TIMESTAMP}, 
      #{spTaskunloadtime,jdbcType=TIMESTAMP}, #{spAnid,jdbcType=INTEGER}, #{spTaskaging,jdbcType=INTEGER}, 
      #{spStatusid,jdbcType=INTEGER}, #{spTaskremark,jdbcType=VARCHAR}, #{spTaskmodeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTask" >
    insert into sp_aotuerp_treasure_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="spTreasureid != null" >
        sp_TreasureId,
      </if>
      <if test="spTaskuploadtime != null" >
        sp_TaskUploadTime,
      </if>
      <if test="spTaskunloadtime != null" >
        sp_TaskUnloadTime,
      </if>
      <if test="spAnid != null" >
        sp_AnId,
      </if>
      <if test="spTaskaging != null" >
        sp_TaskAging,
      </if>
      <if test="spStatusid != null" >
        sp_StatusId,
      </if>
      <if test="spTaskremark != null" >
        sp_TaskRemark,
      </if>
      <if test="spTaskmodeid != null" >
        sp_TaskModeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="spTreasureid != null" >
        #{spTreasureid,jdbcType=INTEGER},
      </if>
      <if test="spTaskuploadtime != null" >
        #{spTaskuploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spTaskunloadtime != null" >
        #{spTaskunloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spAnid != null" >
        #{spAnid,jdbcType=INTEGER},
      </if>
      <if test="spTaskaging != null" >
        #{spTaskaging,jdbcType=INTEGER},
      </if>
      <if test="spStatusid != null" >
        #{spStatusid,jdbcType=INTEGER},
      </if>
      <if test="spTaskremark != null" >
        #{spTaskremark,jdbcType=VARCHAR},
      </if>
      <if test="spTaskmodeid != null" >
        #{spTaskmodeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTaskExample" resultType="java.lang.Integer" >
    select count(*) from sp_aotuerp_treasure_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sp_aotuerp_treasure_task
    <set >
      <if test="record.spId != null" >
        sp_id = #{record.spId,jdbcType=INTEGER},
      </if>
      <if test="record.spTreasureid != null" >
        sp_TreasureId = #{record.spTreasureid,jdbcType=INTEGER},
      </if>
      <if test="record.spTaskuploadtime != null" >
        sp_TaskUploadTime = #{record.spTaskuploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spTaskunloadtime != null" >
        sp_TaskUnloadTime = #{record.spTaskunloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spAnid != null" >
        sp_AnId = #{record.spAnid,jdbcType=INTEGER},
      </if>
      <if test="record.spTaskaging != null" >
        sp_TaskAging = #{record.spTaskaging,jdbcType=INTEGER},
      </if>
      <if test="record.spStatusid != null" >
        sp_StatusId = #{record.spStatusid,jdbcType=INTEGER},
      </if>
      <if test="record.spTaskremark != null" >
        sp_TaskRemark = #{record.spTaskremark,jdbcType=VARCHAR},
      </if>
      <if test="record.spTaskmodeid != null" >
        sp_TaskModeId = #{record.spTaskmodeid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sp_aotuerp_treasure_task
    set sp_id = #{record.spId,jdbcType=INTEGER},
      sp_TreasureId = #{record.spTreasureid,jdbcType=INTEGER},
      sp_TaskUploadTime = #{record.spTaskuploadtime,jdbcType=TIMESTAMP},
      sp_TaskUnloadTime = #{record.spTaskunloadtime,jdbcType=TIMESTAMP},
      sp_AnId = #{record.spAnid,jdbcType=INTEGER},
      sp_TaskAging = #{record.spTaskaging,jdbcType=INTEGER},
      sp_StatusId = #{record.spStatusid,jdbcType=INTEGER},
      sp_TaskRemark = #{record.spTaskremark,jdbcType=VARCHAR},
      sp_TaskModeId = #{record.spTaskmodeid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTask" >
    update sp_aotuerp_treasure_task
    <set >
      <if test="spTreasureid != null" >
        sp_TreasureId = #{spTreasureid,jdbcType=INTEGER},
      </if>
      <if test="spTaskuploadtime != null" >
        sp_TaskUploadTime = #{spTaskuploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spTaskunloadtime != null" >
        sp_TaskUnloadTime = #{spTaskunloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spAnid != null" >
        sp_AnId = #{spAnid,jdbcType=INTEGER},
      </if>
      <if test="spTaskaging != null" >
        sp_TaskAging = #{spTaskaging,jdbcType=INTEGER},
      </if>
      <if test="spStatusid != null" >
        sp_StatusId = #{spStatusid,jdbcType=INTEGER},
      </if>
      <if test="spTaskremark != null" >
        sp_TaskRemark = #{spTaskremark,jdbcType=VARCHAR},
      </if>
      <if test="spTaskmodeid != null" >
        sp_TaskModeId = #{spTaskmodeid,jdbcType=INTEGER},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aotuspace.web.spgoods.model.po.task.SpAotuerpTreasureTask" >
    update sp_aotuerp_treasure_task
    set sp_TreasureId = #{spTreasureid,jdbcType=INTEGER},
      sp_TaskUploadTime = #{spTaskuploadtime,jdbcType=TIMESTAMP},
      sp_TaskUnloadTime = #{spTaskunloadtime,jdbcType=TIMESTAMP},
      sp_AnId = #{spAnid,jdbcType=INTEGER},
      sp_TaskAging = #{spTaskaging,jdbcType=INTEGER},
      sp_StatusId = #{spStatusid,jdbcType=INTEGER},
      sp_TaskRemark = #{spTaskremark,jdbcType=VARCHAR},
      sp_TaskModeId = #{spTaskmodeid,jdbcType=INTEGER}
    where sp_id = #{spId,jdbcType=INTEGER}
  </update>
</mapper>